.section-team__position {
  background-color: #ffffff;
  padding: 72px 20px 20px;
  @media screen and (min-width: 768px) {
    padding: 50px 0px 12px;
  }
  @media screen and (min-width: 1360px) {
    padding: 80px 28px 58px;
  }
};

.section-team {
  font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
text-align: center;
color: #333333;
@media screen and (min-width: 768px) {
  font-size: 20px;
line-height: 33px;
}
@media screen and (min-width: 1360px) {
line-height: 27px;
}
};

.section-team__title {
  font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 44px;
text-align: center;
margin-top: 16px;
color: #333333;
@media screen and (min-width: 768px) {
  font-size: 40px;
line-height: 54px;
}
};

.section-team__text {
  font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
text-align: center;
margin: 24px 0px 63px;
color: #333333;
@media screen and (min-width: 768px) {
  font-size: 18px;
line-height: 25px;
margin: 24px 0px 24px;
}
@media screen and (min-width: 1360px) {
margin: 24px 0px 36px;
}
};

.section-team__name {
  font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 27px;
text-align: center;
margin-top: 16px;
color: #333333;
@media screen and (min-width: 768px) {
 margin-top: 18px;
 font-size: 32px;
line-height: 32px;
}
@media screen and (min-width: 1360px) {
margin-top: 15px;
}
};

.section-team__employee {
  font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
margin: 8px 0px 30px;
text-align: center;
color: #333333;
@media screen and (min-width: 768px) {
  font-size: 18px;
  line-height: 25px;
 }
};

.grid-photo7{
  background-image: url(../img/Team1-mobile.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 280px;
  min-height: 186px;
  margin: auto;
  position: relative;
  @media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  background-image: url('../img/Team1-mobile2x.jpg');
}
@media screen and (min-width: 768px) {
  background-image: url(../img/Team1-laptop.jpg);
  width: 223px;
  min-height: 148px;
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: url('../img/Team1-laptop2x.jpg');
  }
}
@media screen and (min-width: 1360px) {
  background-image: url(../img/Team1-desktop.jpg);
  width: 420px;
  min-height: 287px;
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: url('../img/Team1-desktop2x.jpg');
  }
}
};

.grid-photo8{
  background-image: url(../img/Team2-mobile.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 280px;
  min-height: 186px;
  margin: auto;
  position: relative;
  @media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  background-image: url('../img/Team2-mobile2x.jpg');
}
@media screen and (min-width: 768px) {
  background-image: url(../img/Team2-laptop.jpg);
  width: 223px;
  min-height: 148px;
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: url('../img/Team2-laptop2x.jpg');
  }
}
@media screen and (min-width: 1360px) {
  background-image: url(../img/Team2-desktop.jpg);
  width: 420px;
  min-height: 287px;
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: url('../img/Team2-desktop2x.jpg');
  }
}
};

.grid-photo9{
  background-image: url(../img/Team3-mobile.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 280px;
  min-height: 186px;
  margin: auto;
  position: relative;
  @media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  background-image: url('../img/Team3-mobile2x.jpg');
}
@media screen and (min-width: 768px) {
  background-image: url(../img/Team3-laptop.jpg);
  width: 223px;
  min-height: 148px;
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: url('../img/Team3-laptop2x.jpg');
  }
}
@media screen and (min-width: 1360px) {
  background-image: url(../img/Team3-desktop.jpg);
  width: 420px;
  min-height: 287px;
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: url('../img/Team3-desktop2x.jpg');
  }
}
};